@font-face {
  font-family: 'Avenir';
  src: url("../fonts/Avenir.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Avenir';
  padding: 0px;
  margin: 0px;
}

body .banner {
  background: #2A1A00;
  color: #fff;
  text-align: center;
  padding-top: 36px;
  padding-bottom: 36px;
  margin: 0px;
}

body .banner a {
  color: #fff;
}

body main .row {
  display: flex;
  width: 100%;
}

body main section {
  padding: 10px;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
  flex-grow: 1;
}

body main section p {
  text-align: left;
}

body main #upcoming-meetings ol,
body main #previous-meetings ol {
  text-align: left;
  margin-left: 0px;
  padding-left: 0px;
  list-style-type: none;
}

body main #upcoming-meetings ol h4,
body main #previous-meetings ol h4 {
  margin: 0px;
}

body main #upcoming-meetings ol li,
body main #previous-meetings ol li {
  margin-bottom: 10px;
}

h1 {
  font-size: 46.6662px;
}

h2 {
  font-size: 37.3338px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 18.6662px;
}

h5 {
  font-size: 16.3338px;
}

h6 {
  font-size: 14px;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}